:root{
    --primary: #ffd700;
    --fundo: #0D0C06;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--fundo);
    color: var(--primary);
}

.container{
    display: grid;
    grid-gap: 20px;
}
#inicio{
    height: 100vh;
}

#inicio #menu{
    display: grid;
    grid-gap: 20px;
}

#inicio #menu ul{
    list-style-type: none;
    display: grid;
    margin: 0;
    padding: 0;
    grid-gap: 20px;
    align-content: center;
    grid-template-columns: repeat(4, 1fr);

}

#inicio #menu ul a{
    padding: .8rem;
    text-transform: uppercase;
    display: block;
    text-align: center;
    color: var(--fundo);
    background-color: var(--primary);
    text-decoration: none;
    grid-template-columns: repeat(4, 1fr);
}

#inicio #menu ul a:hover{
    background-color: var(--fundo);
    color: var(--primary);
}

#retangulo{
    height: 400px;
    width: 80vw;
    border: 10px solid var(--primary);
    position: absolute;
    top: 30%;
    left: 10%;
}

#retangulo h1{
    font-size: 100px;
    width: 50vw;
    text-transform: uppercase;
    position: relative;
    top: 10%;
    left: 25%;
    font-family: 'Roboto';
}

#apresentacao{
    height: 100vh;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "foto info";
}

#apresentacao #foto{
    grid-area: foto;
    display: grid;
    height: 100vh;
    width: 50vw;
    background-color: var(--primary);
    grid-template-areas: "foto" "redes-sociais";
}

#apresentacao #foto #imagem{
    grid-area: foto;
    height: 600px;
    width: 600px;
    background-color: black;
    border-radius: 100%;
    position: relative;
    top: 5%;
    left: 15%;
}

#apresentacao #foto #redes-sociais{
    grid-area: redes-sociais;
    display: grid;
    margin-left: 80px;
    padding: .8rem;
    grid-gap: 20px;
    grid-template-areas: "fb in ln";
}

#apresentacao #foto #facebook{
    grid-area: fb;
}

#apresentacao #foto #instagram{
    grid-area: in;
}

#apresentacao #foto #ln{
    grid-area: ln;
}

#apresentacao #info{
    grid-area: info;
    display: grid;
}

#apresentacao #info #text{
    font-size: 30px;
    position: relative;
    top: 30%;
    font-family: "Roboto";
    height: 300px;
    text-align: justify;
    line-height: 1.5;
}

#o-que-faco{
    display: grid;
    height: 100vh;
    grid-template-areas: "imagem dados";
}

#o-que-faco #imagem{
    grid-area: imagem;
    height: 100vh;
    width: 50vw;
}

#o-que-faco #data{
    grid-area: dados;
    background-color: var(--primary);
    width: 49vw;
    color: var(--fundo);
}

#o-que-faco #data h1{
    font-size: 50px;
    font-family: "Roboto";
    text-align: center;
}

#o-que-faco #data p{
    font-size: 30px;
    text-align: justify;
    line-height: 1.5;
}

footer{
    color: var(--fundo);
    background-color: var(--primary);
}

/*animação CSS*/
[data-anime]{
    opacity: 0;
}

[data-anime = "left"]{
    transform: translate3d(-50px, 0, 0 );
    transition: .8s;
}

[data-anime = "right"]{
    transition: .8s;
    transform: translate3d(0, -50px, 0);
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0,0,0);
}

/*Responsividade*/

/*IPad Pro*/
@media (max-width: 1024px){
    #inicio #menu ul{
        grid-template-columns: 1fr;
        width: 100vw;
    }

    #inicio #menu ul a{
        font-size: 30px;
        padding: 1.3rem;
    }

    #retangulo{
        top: 40%;
    }

    #retangulo h1{
        font-size: 80px;
        left: 15%;
        top: 15%;
    }
}

/*IPad*/
@media (max-width: 768px){
    #inicio #menu ul a{
        font-size: 26px;
        padding: .8rem;
    }

    #retangulo{
        left: 10%;
    }

    #retangulo h1{
        top: 20%;
        left: 13%;
        font-size: 65px;
    }
}

/*Iphone plus*/

@media (max-width: 414px){
    #inicio{
        width: 100vw;
        background-color: brown;
    }
}