:root{
    --primary: #ffd700;
    --fundo: #0D0C06;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    box-shadow: var(--fundo);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--primary);
    border-radius: 10px;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--fundo);
    color: var(--primary);
}

.container{
    display: grid;
    grid-gap: 20px;
    position: relative;
}
#inicio{
    height: 100vh;
}

#inicio #menu{
    display: grid;
    grid-gap: 20px;
}

#inicio #menu ul{
    list-style-type: none;
    display: grid;
    margin: 0;
    padding: 0;
    grid-gap: 20px;
    align-content: center;
    grid-template-columns: repeat(4, 1fr);

}

#inicio #menu ul a{
    padding: .8rem;
    text-transform: uppercase;
    display: block;
    text-align: center;
    color: var(--fundo);
    background-color: var(--primary);
    text-decoration: none;
    grid-template-columns: repeat(4, 1fr);
}

#inicio #menu ul a:hover{
    background-color: var(--fundo);
    color: var(--primary);
}

#retangulo{
    height: 40vh;
    width: 80vw;
    border: 10px solid var(--primary);
    position: relative;
    top: 25%;
    margin: auto;
}

#retangulo h1{
    font-size: 100px;
    width: 80vw;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 25%;
    margin: auto;
    font-family: 'Roboto';
}

#apresentacao{
    height: 100vh;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "foto info";
}

#apresentacao #foto{
    grid-area: foto;
    display: grid;
    height: 100vh;
    width: 50vw;
    background-color: var(--primary);
    grid-template-areas: "foto" "redes-sociais";
}

#apresentacao #foto #imagem{
    grid-area: foto;
    height: 400px;
    width: 400px;
    background-color: black;
    border-radius: 100%;
    margin: auto;
}

#apresentacao #foto #redes-sociais{
    grid-area: redes-sociais;
    display: grid;
    margin: auto;
    padding: 1.2rem;
    grid-gap: 20px;
    grid-template-areas: "fb in ln";
}

#apresentacao #foto #facebook{
    grid-area: fb;
}

#apresentacao #foto #instagram{
    grid-area: in;
}

#apresentacao #foto #ln{
    grid-area: ln;
}

#apresentacao #info{
    grid-area: info;
    display: grid;
}

#apresentacao #info #text{
    font-size: 28px;
    font-family: "Roboto";
    height: 300px;
    text-align: justify;
    line-height: 1.5;
}

#o-que-faco{
    display: grid;
    height: 100vh;
    grid-template-areas: "imagem dados";
}

#o-que-faco #imagem{
    grid-area: imagem;
    height: 100vh;
    width: 50vw;
}

#o-que-faco #data{
    grid-area: dados;
    background-color: var(--primary);
    width: 49vw;
    color: var(--fundo);
}

#o-que-faco #data h1{
    font-size: 45px;
    font-family: "Roboto";
    text-align: center;
}

#o-que-faco #data p{
    font-size: 28px;
    text-align: justify;
    line-height: 1.5;
}

footer{
    color: var(--fundo);
    background-color: var(--primary);
}

/*animação CSS*/
[data-anime]{
    opacity: 0;
}

[data-anime = "left"]{
    transform: translate3d(-50px, 0, 0 );
    transition: .8s;
}

[data-anime = "right"]{
    transition: .8s;
    transform: translate3d(0, -50px, 0);
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0,0,0);
}

/*Responsividade*/

/*IPad Pro*/
@media (max-width: 1024px){

    #inicio #menu ul{
        grid-template-columns: 1fr;
        width: 99.99vw;
    }

    #inicio #menu ul a{
        font-size: 30px;
        padding: 1.3rem;
    }

    #retangulo{
        border: none
    }

    @keyframes retangulo{
        from{
            transform: translate3d(-100%,0,0);
        }

        to{
            transform: translate3d(0,0,0);
        }
    }

    #retangulo h1{
        margin: auto auto;
        animation-name: retangulo;
        animation-duration: 2s;
        font-size: 100px;
    }

    #apresentacao{
        grid-template-areas: "foto" "info";
    }

    #apresentacao #foto{
        width: 99.99vw;
        height: 50vh;
    }

    #apresentacao #foto #imagem{
        height: 400px;
        width: 400px;
    }

    #apresentacao #info{
        height: 50vh;
        width: 99.99vw;
    }

    #apresentacao #info h1{
        text-align: center;
        font-size: 60px;
    }

    #apresentacao #info #text{
        font-size: 35px;
        text-align: justify;
    }

    #o-que-faco{
        grid-template-areas: "dados" "imagem";
    }

    #o-que-faco #imagem{
        height: 50vh;
        width: 99.99vw;
    }

    #o-que-faco #data{
        height: 50vh;
        width: 99.99vw;
    }

    #o-que-faco #data p{
        font-size: 35px;
    }

    [data-anime = "right"]{
        transition: .8s;
        transform: translate3d(-50px, 0, 0);
    }
}

/*IPad*/
@media (max-width: 768px){
    #inicio #menu ul a{
        font-size: 26px;
        padding: .8rem;
    }

    #apresentacao #foto{
        height: 50vh;
    }

    #apresentacao #foto #imagem{
        height: 300px;
        width: 300px;
    }
    #apresentacao #info h1{
        font-size: 30px;
    }
    
    #apresentacao #info #text{ 
        font-size: 28px;
    }

    #retangulo h1{
        font-size: 65px;
    }

    #o-que-faco #data h1{
        font-size: 30px;
    }

    #o-que-faco #data p{
        font-size: 29px;
    }
}

/*Iphone plus*/

@media (max-width: 414px){
    ::-webkit-scrollbar{
        width: .5px;
    }
    
    ::-webkit-scrollbar-track{
        box-shadow: var(--fundo);
        border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb{
        background-color: var(--primary);
        border-radius: 10px;
    }

    #inicio #menu ul a{
        font-size: 20px;
        padding: .6rem;
    }

    #inicio{
        width: 100vw;
    }

    #retangulo h1{
        font-size: 30px;
    }
    #apresentacao #foto #imagem{
        height: 200px;
        width: 200px;
    }

    #apresentacao #foto #redes-sociais #ln,
    #apresentacao #foto #redes-sociais #instagram,
    #apresentacao #foto #redes-sociais #facebook{
        height: 90px;
        width: 90px;
    }

    #apresentacao #info h1{
        font-size: 28px;
    }

    #apresentacao #info #text{
        font-size: 17px;
    }

    #o-que-faco #data h1{
        font-size: 28px;
    }

    #o-que-faco #data p{
        font-size: 17px;
    }
}

@media (max-width: 411px){
    #apresentacao #foto #imagem{
        height: 200px;
        width: 200px;
    }

    #apresentacao #foto #redes-sociais #ln,
    #apresentacao #foto #redes-sociais #instagram,
    #apresentacao #foto #redes-sociais #facebook{
        height: 80px;
        width: 80px;
    }
}

@media (max-width: 375px){
    #apresentacao #foto #imagem{
        height: 300px;
        width: 300px;
    }

    #apresentacao #foto #imagem{
        height: 200px;
        width: 200px;
    }

    #apresentacao #foto #redes-sociais #ln,
    #apresentacao #foto #redes-sociais #instagram,
    #apresentacao #foto #redes-sociais #facebook{
        height: 75px;
        width: 75px;
    }

    #apresentacao #info h1{
        font-size: 26px;
    }

    #apresentacao #info #text{
        font-size: 15px;
    }

    #o-que-faco #data h1{
        font-size: 26px;
    }

    #o-que-faco #data p{
        font-size: 15px;
    }
}

@media (max-width: 360px){
    #inicio #menu ul a{
        font-size: 16px;
        padding: .6rem;
    }


    #apresentacao #foto #imagem{
        height: 150px;
        width: 150px;
    }

    #apresentacao #foto #redes-sociais #ln,
    #apresentacao #foto #redes-sociais #instagram,
    #apresentacao #foto #redes-sociais #facebook{
        height: 60px;
        width: 60px;
    }

    #apresentacao #info h1,#o-que-faco #data h1{
        font-size: 26px;
    }

    #apresentacao #info #text,#o-que-faco #data p{
        font-size: 14px;
    }
}

@media (max-width: 320px){
    #inicio #menu ul a{
        font-size: 14px;
        padding: .6rem;
    }

    #retangulo h1{
        font-size: 25px;
    }

    #apresentacao #foto #imagem{
        height: 150px;
        width: 150px;
    }

    #apresentacao #foto #redes-sociais #ln,
    #apresentacao #foto #redes-sociais #instagram,
    #apresentacao #foto #redes-sociais #facebook{
        height: 60px;
        width: 60px;
    }

    #apresentacao #info h1{
        font-size: 24px;
    }

    #apresentacao #info #text{
        font-size: 13px;
    }

    #o-que-faco #data h1{
        font-size: 24px;
    }

    #o-que-faco #data p{
        font-size: 13px;
    }
}
